<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">主页</a>
    {% if 'username' in session %}
        <a href="{{ url_for('logout') }}">登出</a>
    {% else %}
        <a href="{{ url_for('login') }}">登录</a>
    {% endif %}
</nav>

<!-- 显示闪存消息 -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>