{#{% extends "base.html" %}#}
{##}
{#{% block title %}File lists{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h2>File lists</h2>#}
{#    <ul>#}
{#        {% for file in files %}#}
{#            <li>{{ file }}</li>#}
{#        {% else %}#}
{#            <li>No file, Sorry!</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}
{% extends "base.html" %}

{% block title %}File lists{% endblock %}

{% block content %}
    <div id="fie">
    <h2 id="fi">File lists</h2>
    <ul>
        {% for file in files %}
            <li class = "pie">{{ file }}
                <a href="{{ url_for('download_file', filename=file) }}" class ="d" >Download</a>
                <a href="{{ url_for('delete_file', filename=file) }}" class="d" onclick="return confirm('Are you sure？')">Delete</a>
                <a href="{{ url_for('generate_qr', filename=file) }}" class="d" target="_blank">View code</a>

            </li>
        {% else %}
            <li>Nothing</li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}