
{% extends "base.html" %}

{% block title %}Cloud Disk Management System{% endblock %}

{% block content %}
    <div>
        <h1 class="welcome">Welcome to Easy Bucket. {{ username }}!!!</h1>
        <p class="sentence">Already logged in!</p>


        <form id="up1" action="/upload" method="post" enctype="multipart/form-data">
            <input id="select_file" type="file" name="file" required>
            <input id="sub" type="submit" value="Upload File">
        </form>


        <h2 class = "f_l">File List</h2>
        <ul class="file_list">

                {% for file in files %}
                    <li class="pie">
                        {{ file }}
                        <a href="{{ url_for('download_file', filename=file) }}" class="d">Download</a>
                        <a href="{{ url_for('delete_file', filename=file) }}" class="d" onclick="return confirm('Are you sure?')">Delete</a>
                        <a href="{{ url_for('generate_qr', filename=file) }}" class="d" target="_blank">Share</a>
                    </li>
                {% endfor %}


        </ul>
    </div>
{% endblock %}